<mat-grid-list cols="14" rowHeight="80px">
    <mat-grid-tile [colspan]="1" style="border:1px">
        {{index}}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
        <a href="{{contest.url}}" class="contest-name" target="_blank">
            {{ (contest.name.length > maxNameLength) ? (contest.name | slice:0:maxNameLength)+'...':contest.name}}
        </a>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="math.min(maxColumns, contest.problems.length)">
        <ng-container *ngFor="let problem of contest.problems; let index = index">
            <ng-container *ngIf="index < maxColumns">
                <app-problem [problem]="problem" [showProblemRatings]="showProblemRatings"></app-problem>
            </ng-container>
        </ng-container>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="maxColumns + 1" *ngIf="contest.problems.length > maxColumns">
        <ng-container *ngFor="let problem of contest.problems; let index = index">
            <ng-container *ngIf="index >= maxColumns">
                <app-problem [problem]="problem"></app-problem>
            </ng-container>
        </ng-container>
    </mat-grid-tile>
</mat-grid-list>