<input [(ngModel)]="handle">
<button [disabled]="!canFetch" (click)="UpdateHandle()">fetch</button>
<nav>
    <button mat-raised-button *ngFor="let category of allCategories" (click)="UpdateCategory(category)">{{category}}</button>
</nav>

<!-- <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar> -->