<app-header (handleEvent)="handle=$event; UpdateHandleData();" (categoryEvent)="category=$event;page=1" [canFetch]="canFetch"></app-header>

<div class="middle">
    <ng-container
        *ngFor="
            let contest of GetSelectedContest() 
                | paginate 
                    : {
                        itemsPerPage: pageSize,
                        currentPage: page,
                        totalItems: selecteIndex.length
                    };
                let index = index">
        <app-contest [contest]="contest" [index]="1 + index + (page - 1) * pageSize"></app-contest>
    </ng-container>
</div>

<app-footer (handlePaginationEvent)="OnTableDataChange($event)"></app-footer>