<div class="sticky-bottom">
    <mat-grid-list cols="19" rowHeight="70px">
        <mat-grid-tile [colspan]="2">
            <h1>CF Tracker</h1>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3">
            <h4><sub>Made with <span class="love">&#10084;</span> by <a href="https://github.com/kumaraditya1999"
                        target="_blank" style="text-decoration: none;"><strong>Aditya Kumar</strong></a></sub></h4>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="8">
            <div class="mat-elevation-z3">
                <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="OnTableDataChange($event)"
                    class="padded">
                </pagination-controls>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" class="toggle-switch">
            <small> Show Problem&nbsp;&nbsp;&nbsp;&nbsp; Ratings</small>
            <mat-slide-toggle [(ngModel)]="showProblemRatings" color="primary" (change)="ToggleShowProblemRatings()">
            </mat-slide-toggle>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" class="toggle-switch">
            <small> Hide Completed Contest</small>
            <mat-slide-toggle [(ngModel)]="hideCompletedContests" (change)="ToggleHideCompletedContests()"
                color="primary"></mat-slide-toggle>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
        </mat-grid-tile>
    </mat-grid-list>
</div>