::ng-deep .padded ul {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.sticky-bottom {
    position: fixed;
    width: 100%;
    background-color: white;
    bottom: 0px;
}

::ng-deep .toggle-switch .mat-grid-tile-content {
    padding: 5px;
}

::ng-deep .ngx-pagination .current {
    background-color: #673ab7 !important;
}